#Auth Service
DB_URL_AUTH=postgresql://postgres:5432/flood_alert_db?currentSchema=auth,public
DB_USERNAME_AUTH=
DB_PASSWORD_AUTH=
SECRET_KEY_JWT=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
KAFKA_BOOTSTRAP_SERVERS=
FIREBASE_CONFIG_PATH=file:/app/secrets/firebase_config.json
KAFKA_FCM_TOKEN_TOPIC=fcm-token-events

#FloodCore Service
DB_URL_FLOODCORE=postgresql://postgres:5432/flood_alert_db?currentSchema=flood_core,public
DB_USERNAME_FLOODCORE=
DB_PASSWORD_FLOODCORE=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_LIFECYCLE_TOPIC=flood-lifecycle-events
KAFKA_SENSOR_HEALTH_SYNC_TOPIC=sensor-health-sync
KAFKA_USER_REPORT_TOPIC=user-report-events
FLOOD_PROCESSOR_URL=http://floodprocessor-service:8084
FIREBASE_STORAGE_BUCKET=
FIREBASE_SERVICE_ACCOUNT_PATH=file:/app/secrets/firebase-key.json
FIREBASE_SIGNED_URL_DURATION=15
ORS_API_KEY=

#Ingestion Service
# Server Configuration
SERVER_PORT=8082
SPRING_APPLICATION_NAME=ingestion-service

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DATABASE=0
REDIS_TIMEOUT=5000

MQTT_BROKER_URL=tcp://mqtt-broker:1883
MQTT_CLIENT_ID=ingestion-service
MQTT_TOPIC_PATTERN=floodguard/sensors/+/telemetry
MQTT_QOS=1
MQTT_AUTO_RECONNECT=true
MQTT_USERNAME=
MQTT_PASSWORD=

KAFKA_BOOTSTRAP_SERVERS=
KAFKA_INGEST_TOPIC=iot-raw
KAFKA_PRODUCER_KEY_SERIALIZER=org.apache.kafka.common.serialization.StringSerializer
KAFKA_PRODUCER_VALUE_SERIALIZER=org.springframework.kafka.support.serializer.JsonSerializer
KAFKA_PRODUCER_ACKS=all
KAFKA_PRODUCER_RETRIES=3

# Logging Configuration
LOGGING_LEVEL_KAFKA=WARN
LOGGING_LEVEL_SPRING_KAFKA=INFO

# FloodProcessor Service
DB_URL_FLOODPROCESSOR=postgresql://postgres:5432/flood_alert_db?currentSchema=flood_processor,public
DB_USERNAME_FLOODPROCESSOR=
DB_PASSWORD_FLOODPROCESSOR=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
KAFKA_BOOTSTRAP_SERVERS=
AUTH_SERVICE_URL=http://auth-service:8081
GEMINI_API_KEY=

# Notification Service
DB_URL_NOTIFICATION=postgresql://postgres:5432/flood_alert_db?currentSchema=notification,public
DB_USERNAME_NOTIFICATION=
DB_PASSWORD_NOTIFICATION=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
KAFKA_BOOTSTRAP_SERVERS=
FIREBASE_SERVICE_ACCOUNT_PATH=file:/app/secrets/firebase-key.json